In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/Modelar_UH2021.txt', sep="|")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df[['estado']].value_counts(sort=False)

Buscamos valores null en las columnas que forman el conjunto de datos.

In [ ]:
missing_columns = df.columns[df.isna().any()].tolist()
missing_columns

Podemos observar que hay tres columnas con valores nulos. Ahora lo que vamos a hacer es ver con cuántos valores nulos cuenta cada una de ellas y de esta manera, decidir de qué forma tratarlos.

In [ ]:
missing_data = df.isnull() # Los valores null se representan como True

for column in missing_columns:
    print(column)
    print (missing_data[column].value_counts())
    print("")

Cantidad de valores null por columna:
* `categoria_dos`: 5844
* `precio`: 1402111
* `antiguedad`: 874165

Para tratar los valores nulos de la columna `categoria_dos` vamos a reemplazarlos por el valor más frecuente de esta:

In [ ]:
most_freq = df['categoria_dos'].mode().values[0]
most_freq

In [ ]:
df['categoria_dos'].replace(np.nan, most_freq, inplace=True)

Para tratar los valores nulos de la columna `precio` vamos a realizar lo que se indica en las instrucciones del reto "*Cuando su valor es nulo, ha de ser completado con el precio anterior temporalmente más cercano para cada artículo.*"

In [ ]:
#TODO

Para tratar los valores nulos de la columna `antiguedad` vamos a reemplazarlos por la media de esta columna:

In [ ]:
mean_val = int(df['antiguedad'].mean())
mean_val

In [ ]:
df['antiguedad'].replace(np.nan, mean_val, inplace=True)